
<% title @recipe.title %>
<div class="row">
  <div class="col=md-8 col-md-offset-1">
    <table class = "table">

<tbody>
  <tr>
    <td> Comment By </td>
    <td> Recipe Name </td>
    <td> Content </td>
    <td> Rating </td>
  </tr>

<% @comment_rating1.each do |comment| %>
  <tr>
  <td> <%= comment.user.name %> </td>
  <td> <%= comment.recipe.title %> </td>
  <td> <%= comment.content %> </td>
  <td> <%= comment.ratings %> </td>
</tr>
  <% end %>

  </tbody>
  </table>
  <br><br><br>
</div>
</div>
